@media (min-width:0px) and (max-width: 767px) {
    .badge {
    background-color:white;
  }
#desk-nav {
  display: none;
}
.upper-btn {
  margin-top: -25px;
  margin-left: -10px;
  margin-right: -10px;
}
.upper-btn a {
  display: inline-block;
  font-size: 12px;
  float: none;
}
#filter-mob {
  display: inline-block;
}
.mobile-opt a{
  display: inline-block;
  width: 33.33%;
  margin-top: -10px;
  margin-right: 0px;
  font-size: 16px;
}
.mob-nav {
  list-style: none;
}
.mob-nav a {
  margin-top: 5px;
  text-decoration: none;
}
.na-header {
  margin-left: 0;
}
.navbar-header {
  margin-left: -10px;
  margin-right: -10px;
  background-color: white!important;
}
.navbar .container-fluid>.navbar-header {
  float: left;
  margin-right: 10px;
}
.navbar .navbar-nav {
  float: left;
  margin: 0px!important;
}
.nav>li {
  float: left;
}
.nav .navbar-nav li {
  display: inline!important;
}
.complaints {
  font-weight: bold;
  color: green!important;
}
.gap {
  font-size: 18px;
}
.date {
  font-size: 17px;
}
.card-content {
  margin-right: -10px;
  margin-left: -20px;
}
#filter {
  width: 10px;
  margin-top: -18px;
  font-size: 20px;
}
}
/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  #mob-nav {
    display: none;
  }
  #filter {
    text-transform: capitalize;
    font-size: 24px;
  }
  .pointer {
    cursor: pointer;
  }
  html {
    overflow-y: hidden;
  }
  .sidebar-nav {
    margin-left: -15px;
  }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .active {
    color: white;
  }
  small {
    font-size: 18px;
  }
  p {
    font-size: 22px;
    margin: 5px 0 5px 0;
  }
  .btn-match {
    font-size: 24px;
    padding-bottom: 10px;
    text-transform: capitalize;
  }
  .large-span{
    font-size: 24px;
  }
  .badge {
    background-color:white;
  }
  .img-li {
    margin-top: 10px!important;
  }
  .img-name {
    margin-top: 0px;
    font-size: 25px;
  }
  .side-li {
    color: black!important;
    font-size: 18px;
  }
  .brand-logo {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 45px !important;
  }
  nav {
    height: 80px;
  }
  #nav-mobile a {
    text-decoration: none;
    font-size: 20px;
    margin-top: 5px;
}
#nav-mobile a:hover{
  font-weight: bolder;
  color: yellowgreen;
}
.mobile-opt{
  display: none;
}
.card {
  margin-top: 20px;
}
.fa.fa-filter {
margin-right: 5px;
}
#filter-mob {
  display: none;
}
#desk-nav {
  border:1px solid;
  border-left: none;
}
#desk-nav a:hover{
  text-decoration: none;
}
#desk-nav li {
  padding-left: 100px;
  padding-right: 85px;
  border-bottom: 1px solid;
  margin-bottom: -3px;
}
#desk-nav .empty {
padding-top: 50px;
}
#desk-nav .analytics {
  padding-top: 30px;
}
.first-li {
  font-weight: bolder;
  color: green!important;
}
label {
  color: black;
  font-size: 18px!important;
}
.reply-all {
  cursor: pointer;
} 
.upper-btn .active {
  background-color: skyblue;
}
nav {
  background-color: black;
}
.navbar-default {
  background-color: white;
  border:none;
}
}